
:root{
    --primary-soft: #f3f3f3;
}
.sidebar{
    overflow: scroll;
}
.sidebar-brand{
    position: sticky;
    top: 0;
    background-color: var(--white);
    margin-bottom: 10px;
}
.sidebar-menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu-title{
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #969696;
}
.menu-item{
   transition: 0.3s;
}
.menu-item:hover{
    background-color: #dbdbdb;
    border-radius: 0.25rem;
}
.menu-item-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark);
    padding: 5px;
    border-radius: 0.25rem;
}
.menu-item-link:hover{
    text-decoration: none;
    color: var(--dark);
}
.menu-item-link.active{
    background-color: var(--primary);
    color: var(--light);
}
/* .menu-item-link span{
    
}
.menu-item-link i{

} */
.menu-item-link .badge{
    display: flex;
    align-items: center;
    
}
.menu-spacer{
    padding: 10px 0;
}
.content{
    background-color: var(--primary-soft);
    overflow: scroll;
    /* box-shadow: 0 0 10px #00000020 inset; */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) inset;
}
.header{
    position: sticky;
    top: 0.2rem;
    z-index: 2000;
}

.show-sidebar-btn{
    cursor: pointer;
}
.user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.card{
    border: none;
}
.status-card{
    transition: 0.3s;
    cursor: pointer;
}
.status-card:hover{
    transform: translateY(-3px);
}
.card.status-card:active{
    transform: scaleX(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.ov-img{
    margin-left: -25px;
}
.item-carousel{
    margin-top: -100px;
}
.item-card-img{
    
    height: 200px;
}
.sub-list tr{
    cursor: pointer;
    transition: 0.3s;
}
.sub-list tr:active{
    transform: scale(1.02);
}
.full-screen-card{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2003;
    height: 100vh;
    overflow: scroll;
}

@media screen and (max-width: 780px) {
    .sidebar{
        position: fixed;
        width: 300px;
        z-index: 2001;
        display: block !important;
        background-color: white;
        margin-left: -100%;
    }
    .item-carousel-card{
        margin-top: 70px;
    }
}